<ion-content class="background" [fullscreen]="true">
  <img class="logo" src="assets/img/TellevoappLogo.png" alt="Mi Imagen">
  <div class="bigtext">Recupera tu contraseña</div>
  <ion-list class="listas">
      <ion-input class="text"
      label="Correo Electronico"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      placeholder="Hola@duocuc.cl"
      > 
      </ion-input>
  </ion-list>
  <ion-button class="centered-button" (click)="goToRegistrarse()">Continuar</ion-button>    
</ion-content>
