/* Estilos para el menú desplegado */
ion-menu {
  --ion-background-color: #132CAA;
  /* Color de fondo del menú desplegado */
  --ion-toolbar-background: #132CAA;
  /* Color de fondo de la barra de arriba */
  --ion-text-color: #fff;
  /* Color de texto (letras) en el menú desplegado */
}

/* Estilos para el contenido del menú desplegado */
ion-content.ion-padding {
  padding: 15px;
  /* Añade relleno a los elementos de contenido del menú */
  font-size: 18px;
  /* Tamaño de fuente */
  transition: background-color 0.3s;
  /* Animación de cambio de color de fondo */
}

ion-content.ion-padding:hover {
  background-color: #f0f0f0;
  /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para el encabezado de la página principal */
ion-header ion-toolbar {
  background-color: #132CAA;
  /* Color de fondo de la barra de arriba en la página principal */
  color: #fff;
  /* Color de texto (letras) en la barra de arriba en la página principal */
}

ion-title {
  font-size: 24px;
  /* Tamaño de fuente del título */
}

ion-header {
  --ion-background-color: #132CAA;
  /* Color de fondo del menú desplegado */
  --ion-toolbar-background: #132CAA;
  /* Color de fondo de la barra de arriba */
  --ion-text-color: #fff;
  /* Color de texto (letras) en el menú desplegado */
}

li {
  list-style-type: none;
}

.background {
  --ion-background-color: #ffffff;
}

.menu-fondo {
  --ion-background-color: #ffffff;
}

#mapa-principal {
  border: 2px solid #132CAA;
  border-radius: 0.5rem;
  outline-style: none;
}

ion-tab-bar {
  bottom: 2.3rem;
  position: relative;
  border-radius: 16px;
  width: 95%;
  margin: 0 auto;
  --background: #132CAA
}

ion-tab-button {
  --color: #ffffff;

}
#contador-tiempo {
  color:#F8b31c;
  font-size: large;
}
ion-card-content {
  padding-inline-start: 0px !important;
}
#ourlogo {
  max-width: 20%;
  max-height: 5%;
  margin-left: 2%;
  margin-top: 5%;
}

ion-spinner {
  color: #F8b31c
}

ion-item ion-icon {
  color: #ffffff;
}

ion-menu ion-card {
  text-align: center;
  box-shadow: none !important;
}
ion-menu ion-header {
  box-shadow: none !important;
}


ion-menu ion-card-title {
  color:#ffffff;
  border-bottom: 1px solid #ffffff;
}

ion-menu ion-card-content {
  color: #ffffff;
  padding-top:2%
}
// #our-logo-menu {
//   display: block;
//   width: 75%;
//   height: 79%;
//   object-fit: inherit;
//   object-position: inherit;
//   margin-left: .5rem;
// }

#username-menu{
  transform: scale(1.5);
  font-weight: bold;
  margin-left: 5rem;
  padding-bottom: 5%;
}

#username-travel{
  font-weight: bold;
  margin-left: 10rem;
}
@media screen and (min-width: 412px ) and (max-width: 412px ) and (max-height: 846px) and (min-height: 846px) {
ion-item ion-icon {
  transform: scale(1.25);
  padding-right: 8%;
  padding-left: 4%;
}
ion-menu ion-card-title {
  font-size: 180%;
  font-weight: bolder;
}
ion-menu ion-card-content
{
  font-size: 120%;
  font-weight: bold;
}
#our-logo-menu {
  padding: 5%;
}



h2 {
  padding-left: 6%;
}

}