<ion-header> 
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="goToMenu()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="bigtext">Sobre Nosotros</div>
  <ion-row>
    <ion-label class="text">
      Bienvenidos a TellevoApp, tu compañero de confianza para el regreso seguro a casa. Somos una aplicación desarrollada por el Instituto DuocUC,
      diseñada específicamente para facilitar el transporte entre compañeros de estudios, promoviendo la seguridad y la comodidad. 
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="text">
      En TellevoApp, entendemos la importancia de crear una comunidad de estudiantes que se ayuden mutuamente en su día a día. Nuestra plataforma permite que los alumnos se registren y ofrezcan sus servicios de transporte a sus compañeros que viven cerca, brindando una solución eficiente y económica para aquellos que desean llegar a casa de manera segura.
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="text">
      Nuestra misión es simple pero poderosa: hacer que el regreso a casa sea más seguro y accesible para todos los estudiantes del Instituto DuocUC.
      Queremos fomentar la colaboración y la solidaridad entre compañeros, al tiempo que brindamos una opción confiable y económica para el transporte local.
    </ion-label>
  </ion-row>
</ion-content>